body {
  background: url(../../images/backgrounds/hero.jpg) no-repeat center center;
  background-size: cover;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
